{% extends '_base.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="row">
    {% for product in products_by_subcat %}
      <div class="col-md-4">
          <div class="card text-center">
            <a href="{% url 'product_detail' product.pk %}"><img class="card-img-top" src="{{ product.product_img1.url }}"></a>
              <div class="card-body">
                <h7 class="card-title">
                  <a href="{% url 'product_detail' product.pk %}" class="text-dark text-decoration-none">{{ product.product_name }}</a>
                </h7>
              </div>
              <div class="card-footer">
                <div class="float-center">
                  <label href="#" class="text-dark">{{ product.price_per_unit }}$</label>
                  <br>
                  <form method="post" action="{% url 'add_item_to_cart' product.pk %}">
                    {% csrf_token %}
                    <button class="btn btn-success btn-block" type="submit">Add to the cart</button>
                  </form>
                </div>
              </div>
          </div>
          <br>
        </div>
    {% endfor %}
    </div>
  </div>
{% endblock content %}