{% extends '_base_profile.html' %}
{% block title %}order detail{% endblock title %}

{% block profile_content %}
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
              Order Details
          </div>
          <div class="card-body">
            <table class="table borderless">
              <tbody>
                <tr>
                  <td>Order Status</td>
                  <td><p class="font-weight-bold">{{ order.get_order_status_display }}</p></td>
                  <td>Order Date</td>
                  <td><p class="font-weight-bold">{{ order.order_date }}</p></td>
                </tr>
                <tr>
                  <td>Address
                  </td>
                  <td>
                    <p class="font-weight-bold">{{ order.destination_address.city }},<br>
                       {{ order.destination_address.adress }}</p>
                  </td>
                </tr>
                <tr>
                  <td>Amount</td>
                  <td><p class="font-weight-bold">{{ order.total_paid }}$</p></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock profile_content %}