{% extends '_base_profile.html' %}

{% block title %}Orders{% endblock title %}

{% block profile_content %}
  <h5>Orders</h5>
  <br><br>
  {% if not orders %}
    <h5 class="text-muted text-center">No Orders yet</h5>
  {% endif %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Order Id</th>
        <th>order Date</th>
        <th>Amount Paid</th>
        <th>Status</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
        <tr>
          <td>{{ order.pk }}</td>
          <td>{{ order.order_date }}</td>
          <td>{{ order.total_paid }}</td>
          <td>{{ order.get_order_status_display }}</td>
          <td><h3><a class="text-decoration-none text-secondary" href="{% url 'order_detail' order.pk %}"> ></a></h3></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock profile_content %}