{% extends '_base.html' %}
{% load static %}

{% block title %}View Cart{% endblock title %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5>Total</h5>
            <hr>
            <h1 class="text-danger" style="display:inline">
              {% if items %}
                {{ sum_total }}
              {% else %}
                0
              {% endif %}
            </h1>
            <h6 class="text-danger" style="display:inline"> $</h6>
            <hr>
            <a href="{% url 'shipping_info' %}" class="btn btn-success btn-block">Proceed to CheckOut</a>
          </div>
        </div>
        <br>
      </div>
      <div class="col-8">
        <div class="container">
          {% if not items %}
            <div class="container">
              <div class="row">
                <div class="col text-center">
                  <h2 class="text-muted">Your Cart Is Empty</h2>
                </div>
              </div>
            </div>
          {% endif %}
          {% for item in items %}
            <div class="row">
              <div class="col">
                <div class="card">
                  <div class="card-horizontal">
                    <div class="img-square-wrapper">
                      <img class="product-in-cart" src="{{ item.product.product_img1.url }}">
                    </div>
                    <div class="card-body">
                      <h3>{{ item.product.product_name }}</h3>
                      <h5 class="text-danger">{{ item.product.price_per_unit }} $</h5>
                      <p>
                        <div class="form-group">
                          <form method="post" action="{% url 'add_item_to_cart' item.product.pk %}">
                            {% csrf_token %}
                            <select name="quantity" class="form-control" onChange="form.submit();">
                              <option value="" hidden>{{ item.quantity }}</option>
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                            </select>
                          </form>
                        </div>
                      </p>
                      <p>
                        <form method="post" action="{% url 'remove_item_from_cart' item.product.pk %}">
                          {% csrf_token %}
                          <button class="btn btn-danger" type="submit">Delete</button>
                        </form>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}